<%= form_for @order, :url => order_path(@order), :method => :patch do |f| %>
  
  <div>
		<%= f.select :family_type_id, FamilyType.all.map {|t| [t.family_type, t.id]}%>
	</div>
  <div>
  	<%= f.text_field :delivery_address%>
  </div>
	<div>
		<%= f.datetime_local_field :delivery_date %>
	</div>
  
	<%= f.fields_for :order_items do |ff|%>
		<div>
			<%= ff.object.product.name %>
			<%= ff.hidden_field	:product_id %>
			<%= ff.hidden_field	:id %>
			<%= ff.radio_button :status , "Whatever" %>
			whatever
			<%= ff.radio_button :status , "YES" %>
			Yes
			<%= ff.radio_button :status , "No" %>
			No
		</div>
	<% end %>
  <%= f.submit %>
<% end %>	
<%= link_to "回到上一頁",:back %>