
  <div>
  	<%= @order.user.name %>
  </div>
  <div>
  	<%=  @order.id %>
  </div>
  <div>
  	<%=  @order.family_type.family_type %>
  </div>
  <div>送貨地址: 
  	<%=  @order.delivery_address %>
  </div>
  <div>
  	<%=  @order.delivery_date %>
  </div>
<table>
	<% @order.order_items.each do |o| %>
	<tr>
		<td><%=	o.product.name %></td>

		<td><%=	o.status %></td>
	</tr>
	<% end %>
</table>
<%= link_to "回到上一頁",:back %>