
<p>姓名: <%= @user.name %></p>
<p>E-mail: <%= @user.email %></p>
<p>手機號碼: <%= @user.mobile_num %></p>
<p>地址: <%= @user.address %></p>

<p><%= link_to 'Back to index', root_path %></p>




 <p><%= link_to '新增訂單', new_order_path %></p>

<% @orders.each do |o| %>
<p><%= link_to '查看訂單', order_path(o) %></p>
<p><%= link_to '修改訂單', edit_order_path(o)%></p>
<p><%= link_to '刪除訂單', order_path(o),:method => :delete %></p>
<% end %>