
<p><b>姓名:</b> <%= @user.name %></p>
<p><i class="fa fa-envelope"></i><b> E-Mail: </b><%= @user.email %> </p>
<p><i class="fa fa-phone "></i> <b>手機號碼:  </b><%= @user.mobile_num %></p>
<p><i class="fa fa-map-marker"></i> <b>地址:  </b><%= @user.address %></p>

<p><%= link_to '回到首頁', root_path %></p>
 
 <p><%= link_to '新增訂單', new_order_path %></p>

<table>	
	<tr>
		<th>
			<td>訂單編號</td>	
			<td>action </td>
			<td>成立日期</td>
			<td>配送日期</td>			
		</th>
	</tr>
	<% @orders.each do |o| %>
	<tr>
		<td><%= link_to "#{o.number}" , order_path(o) %></td>
		<td><%= link_to '修改', edit_order_path(o)%></td>
		<td><%= o.created_at %></td>
		<td><%= o.delivery_date %></td>		
	</tr>
	<% end %>
</table>