
<div id="home">
  <a id="menu-link" href="#" class="">
    <span class="menu-icon"></span>
  </a>
      
  <div class="overlay" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li><a href="#home" class="smooth-scroll">Home</a></li>
        <% if current_user %>
          <li ><%= link_to('修改個人資料', edit_registration_path(:user)) %></li>
          <li ><%= link_to'查看個人資料','#', :data =>{ :toggle => 'modal',:target=>'#profileModal', :remote => user_path(current_user) } %></li>
          <li ><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>

        <% else %>    
          <li><%= link_to'註冊', '#', :data =>{ :toggle => "modal",:target=>"#signupModal",:remote => "/users/sign_up" } %></li>
          <li><%= link_to'登入', '#', :data =>{ :toggle => "modal",:target=>"#signinModal", :remote => "/users/sign_in" }%></li>
        <% end %>
        <li><a href="#features" class="smooth-scroll">關於產品</a></li>
        <li><a href="#showcase" class="smooth-scroll">客戶回應</a></li>
        <li><a href="#news" class="smooth-scroll">聽聽別人怎麼說</a></li>
      </ul>
    </nav>
  </div>
  
  <div id="wrap">
    <section id="hero" class="m-center text-center bg-shop full-height">
      <div class="center-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="hero-unit ">
                <h1 class="title">
                 <img src = "img/LOGO.png" width="400" > 
                </h1>
                <br>
               <% if current_user %>
               <a class="btn white" href="#" data-toggle="modal" data-target="#product-modal"><b>讓早上田野現採的的新鮮，傍晚就出現在您的餐桌上</b> </a>
                <% else %>
                 <a class="btn white" href="#" data-toggle="modal" data-target="#signinModal" data-remote ="/users/sign_in"><b>馬上加入稻草人的行列吧</b> </a>
                <% end %>
              </div>  
            </div>  
            <div class="col-sm-12 img-hero">
          </div>
        </div>
      </div>
      <a href="#features" class="hero-start-link smooth-scroll anchor-link"><i class="fa fa-angle-double-down"></i></span></a>
      </div>
    </section>
   
    <!-- 三大 -->
    <section id="features" class="features-1">
      <div class="container padding-top-bottom">
        <div class="row header">
          <div class="col-md-12">
            <h2>特色</h2>
            <p></p>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in ">
              <article class="text-center">
                <img src="img/demo1.jpg" alt="#" class="zoom-img img-responsive center-block">
                <h3>​直送</h3>
                <p>沒時間買菜嗎？<br>小農有機鮮蔬直送你家</p>
              </article>
            </div>                       
            <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d1">
              <article class="text-center"> 
                <img src="img/demo2.jpg" alt="#" class="zoom-img img-responsive center-block">
                <h3>​嚴選</h3>
                <p>挑菜好煩惱？<br>只給您家人愛吃的當季鮮蔬</p>
              </article>
            </div>             
            <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d2">
              <article class="text-center"> 
                <img src="img/demo3.jpg" alt="#" class="zoom-img img-responsive center-block">
                <h3>食譜</h3>
                <p>不會料理食材嗎？<br>媽媽私房菜讓老公準時回家</p>
              </article>
            </div>
          </div>             
        </div>
      </div>  
    </section>
    <!-- vertical center / slider -->
    <section id="showcase" class="">
      <div class="container-fluid">
        <div class="row" >
          <div class="col-sm-6 slider">
            <div id="as-slider" class="owl-carousel" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="">
              <div class="item m-center" id="slide1" ></div>
              <div class="item m-center" id="slide2" ></div>
              <div class="item m-center" id="slide3" ></div>
            </div>
          </div> 
          <div class="col-sm-6 bg-shop" style="height:500px;">
            <div class="half-box-right">
              <div class="center-vertical">
                <div class="center-vertical-box">
                  <h1><b>買菜只要三步驟！輕鬆買到家人愛吃的當季時蔬組合</b></h1> 
                  <ul style="padding: 20px;">
                    <li>選擇成員人數給您合適的量，不再浪費食材</li>
                    <li>選擇配送日期收貨沒煩惱，給您最輕鬆的體驗</li>
                    <li>選擇家人愛吃的當季食材每一次料理，都是給家人最珍貴的禮物</li>               
                  </ul>
                  <a href="#" data-toggle="modal" data-target="#product-modal" class="btn dark"><b>馬上訂購</b> BUY NOW</a> 
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section> 

    <section class="cta-1 bg-dark padding-top-bottom text-center white-text">
      <div class="container-fluid anima scale-in">
        <div class="row">
          <div class="col-sm-12">
            <span>​您的專屬菜籃記錄您每一次買菜的習慣，只給您家人最愛吃的蔬果</span>
            <a class="btn" href="#" data-toggle="modal" data-target="#product-modal"><b></b> 買就送購物金</a>
          </div>  
        </div>
      </div>
    </section>  

    <section id="news" class="content-1 bg-yellow padding-top-bottom bg-shop">
      <div class="container">
        <div class="row">
         <div class="col-md-3  ha">
           
          </div>
          <div class="col-md-3  ha">
            <%= image_tag("台北上班族媽媽_賴小姐.jpg")%>
          </div>
          <div class="white-box col-md-6 ">
            <h2><b>台北上班族 賴媽媽</b></h2>
            <p>把寶貝家人餵鮑飽並不難，但是，要在忙碌的工作之餘，騰出腦袋和體力料理一頓飯，對蠟燭兩頭燒的上班族媽媽來說，無疑是加乘的無法推託的壓力，面對冷冰冰的食材，心頭跟著發冷啊…。</p>
            <blockquote class="blockquote-reverse">
              <p>2015年12月</p>
            </blockquote>
          </div>
        </div>   
        <div class="row">
          <div class="col-md-3  ha">
           
          </div>
          <div class="col-md-3 ha">
          <!-- 不要中文檔名 -->
            <%= image_tag("友善小舖2.jpg")%>
          </div>
          <div class="white-box col-md-6">
            <h2><b>宜蘭小農 陳媽媽</b></h2>
            <p>農夫是個工時長，收益少的工作！這份工作有許多不能掌控的因素，如天氣、作物生長過程、病蟲害等等，影響到收成數量的不穩定，銷售上就比較困難！稻草人平台可以整合我們小農的菜是很棒的！真的很謝謝他們。</p>
            <blockquote class="blockquote-reverse">
              <p>2015年12月</p>
            </blockquote>
          </div>
        </div>  
      </div>
    </section>
  
    <section id="facts" class="numbers-1 padding-top-bottom text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="numbers-item">
              <h2 class="counter">367</h2>
              <h4>購買次數</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="numbers-item">
              <h2><span class="counter">99.1</span> <span>%</span></h2>
              <h4>好評不斷</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="numbers-item">
              <h2><span class="counter">1</span> <span>m</span></h2>
              <h4>固定會員</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta-1 bg-shop padding-top-bottom text-center ">
      <div class="container-fluid anima scale-in">
        <span>​購買須知</span>
        <a class="btn dark" href="#" data-toggle="modal" data-target=".text-modal">加入會員請參閱條例</a>
      </div>
    </section>

    <section id="contact" class=" padding-top-bottom">
      <div class="container">
        <div class="row header">
          <div class="col-md-12">
            <h2>聯絡稻草人</h2>
            <p>期待您給予稻草人反饋與支持!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 contact-info">
            <div id="alert-contact"> 
              <div class="alert alert-success" role="alert"><strong>Your message has been sent.</strong></div>
            </div>
            <form id="contact-form" action="sendemail.php" class="myform" method="post" novalidate>
              <div class="row clearfix">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                      <input name="contactName" placeholder="Your name" class="form-control input-lg requiredField" type="text" data-error-empty="Enter name">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="contact-mail">Email</label>
                    <div class=" controls">
                      <input name="email" placeholder="Your email" class="form-control input-lg requiredField" type="email" data-error-invalid="Invalid email address" data-error-empty="Enter email">
                    </div>
                  </div>
                </div>  
              </div>  
              <div class="form-group">
                <label class="control-label" for="contact-message">Message</label>
                <div class="controls">
                  <textarea name="comments" placeholder="Your message" class="form-control input-lg requiredField" rows="5" data-error-empty="Enter message"></textarea>
                </div>
              </div>
              <p><button name="submit" type="submit" class="btn btn-store btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Email Sent">Send Message</button></p>
              <input type="hidden" name="submitted" id="submitted3" value="true">
            </form> 
          </div>    
        </div>
      </div>
    </section>  

    <section class="footer-1 text-center">
      <div class="container-fluid">
        <a href="#home" class="back-to-top smooth-scroll"><i class="fa fa-chevron-up"></i></a>
        <p>Made with <i class="fa fa-heart color-text"></i> by <a href="http://demo.angelostudio.net">AlphaCamp</a>.</p>
        <ul class="social-links-2 ">
          <li><a href="https://twitter.com/angelo_studio"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://dribbble.com/angelo_studio"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="https://vimeo.com/user10293733"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </section>

    <div class="modal fade text-modal" id="text-modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
        <div class="modal-dialog modal-sm2">
            <div class="modal-content">
                <div class="modal-header bg-shop">
                    <a class="close-modal" href="#" data-dismiss="modal">
                        <span class="menu-icon"></span>
                    </a>
                    <h2 class=""><b>會員條例</b></h2>
                </div>
                <div class="modal-body">
                    <p>In order to simplify the legal terms, here are the rules of the game written in plain English, that you are obliged to follow when using the digital goods at 1E-shop.</p>
                    <p>
                        <br><strong>You are free to…</strong>
                    </p>
                    <ul>
                        <li>Use the digital goods in a website for yourself or a client for personal, open-source or commercial use.</li>
                        <li>Use the digital goods to create an icon for your app or button icons.</li>
                        <li>Use the digital goods to create a logo or other brand material.</li>
                    </ul>
                    <p>
                        <br><strong>You are forbidden to…</strong>
                    </p>
                    <ul>
                        <li>Re-sell the digital goods, host the digital goods or rent the digital goods (either in existing or modiﬁed form).</li>
                        <li>Include the digital goods with a website offered for sale or distributed for free.</li>
                        <li>Convert the digital goods to a theme to sell or distribute for free.</li>
                    </ul>
                    <br>
                    <p>While attribution is optional, it is always appreciated. Intellectual property rights are not transferred with the download of the icons.</p>
                    <p>Should you happen to lost the purchased good, let me know the email you've used upon your purchase, and I will provide you with the new files.</p>
                </div>

            </div>
        </div>
    </div>
  </div> 

<% if current_user %>
  <div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm2">
      <div class="modal-content">
        <%= render :partial  => "buy" %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-sm2">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-sm2">
    <div class="modal-content">
    
    </div>
  </div>
</div>

<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-sm2">
    <div class="modal-content">
    
    </div>
  </div>
</div>


<img id="chili" src="img/spicy.png">
<img id="bowl" src="img/bowl6.png">

</div>
 